@{
    ViewData["Title"] = "Home Page";
}
    

<div class="row">
    <div class="col-md-3">
        <h2>Games</h2>
        <ul>
            <li>Explore all the games!</li>
            <li>Read game descriptions</li>
            <li>Search games by genre and type</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Rate and Review</h2>
        <ul>
            <li>Register to rate and review games</li>
            <li>Browse our reviews to help you find games you like</li>
           
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Shop</h2>
        <ul>
            <li>Links are provided to online sellers</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Connect</h2>
        <ul>
            <li>Explore upcoming gaming conventions</li>
            <li>Find other gamers in your area</li>
        </ul>
    </div>
</div>
