@model GameReview.ViewModels.AddReviewViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form a asp-controller="Review" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="GameID"></label>
        <select asp-for="GameID" asp-items="Model.Games"></select>
    </div>
    <div class="form-group">
        <label asp-for="Review"></label>
        <input asp-for="Review" />
        <span asp-validation-for="Review"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>

</form>